streamlit
pandas
numpy
openai
spacy
sqlalchemy
mysql-connector-python
sentence-transformers
scikit-learn
scipy
python-dotenv
Pillow
groq
python_version == 3.10
spacy==3.7.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
